.splash-root {
  height: 100vh;
  width: 100vw;
  display: flex;
  background: #FFFFFF;
  align-items: center;
  justify-content: center;
}

.splash-gif {
  width: 420px;
  height: auto;
  object-fit: contain;
}
